/* #region Background */
.miniplayer-container {
  border-radius: 15px;
  background-color: rgb(0, 0, 0, 0);
  overflow: hidden;
}

#miniplayer-video {
  width: 100%;
  height: 100%;
  pointer-events:none;
  border: none;
  top: 0;
  left: 0;
}